<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>GetEmployee</servlet-name>
        <servlet-class>servlets.GetEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDepartment</servlet-name>
        <servlet-class>servlets.GetDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepartment</servlet-name>
        <servlet-class>servlets.AddDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentForm</servlet-name>
        <servlet-class>servlets.DepartmentForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentDelete</servlet-name>
        <servlet-class>servlets.DepartmentDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeForm</servlet-name>
        <servlet-class>servlets.EmployeeForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>servlets.AddEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEmployee</servlet-name>
        <url-pattern>/GetEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDepartment</servlet-name>
        <url-pattern>/GetDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepartment</servlet-name>
        <url-pattern>/AddDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentForm</servlet-name>
        <url-pattern>/DepartmentForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentDelete</servlet-name>
        <url-pattern>/DepartmentDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeForm</servlet-name>
        <url-pattern>/EmployeeForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
